
// Copper Wind Solutions<br/>
color: black;
 font-size: 16px;
 font-family: Inter;
 font-weight: 600;
 word-wrap: break-word
---
// No 438, M G Complex, Udayanagar Main Road, Bangalore, 560016<br/><br/>copper.wind.solution@gmail.com<br/>www.copperwind.in
color: black;
 font-size: 14px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// CHIMNEY
color: black;
 font-size: 32px;
 font-family: Inter;
 font-weight: 600;
 word-wrap: break-word
---
//  <br/>
color: black;
 font-size: 32px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// INSTALLATION &<br/>SERVICES
color: black;
 font-size: 28px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// GAS STOVE / HOB / COOKTOP
color: black;
 font-size: 32px;
 font-family: Inter;
 font-weight: 600;
 word-wrap: break-word
---
//  <br/>
color: black;
 font-size: 32px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// SERVICES
color: black;
 font-size: 28px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// CORE CUTTING<br/>
color: black;
 font-size: 32px;
 font-family: Inter;
 font-weight: 600;
 word-wrap: break-word
---
// CHIMNEY HOLES<br/>A/C HOLES<br/>ANY SIZE HOLES
color: black;
 font-size: 28px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// 9632660276
color: rgba(0, 0, 0, 0.57);
 font-size: 14px;
 font-family: Inter;
 font-weight: 600;
 word-wrap: break-word
---
// 9632660276
color: rgba(0, 0, 0, 0.57);
 font-size: 14px;
 font-family: Inter;
 font-weight: 600;
 word-wrap: break-word
---
// 9632660276
color: rgba(0, 0, 0, 0.57);
 font-size: 14px;
 font-family: Inter;
 font-weight: 600;
 word-wrap: break-word
---
// 9632660276
color: rgba(0, 0, 0, 0.57);
 font-size: 14px;
 font-family: Inter;
 font-weight: 600;
 word-wrap: break-word
---
// 9632660276
color: rgba(0, 0, 0, 0.57);
 font-size: 14px;
 font-family: Inter;
 font-weight: 600;
 word-wrap: break-word
---
// 9632660276
color: rgba(0, 0, 0, 0.57);
 font-size: 14px;
 font-family: Inter;
 font-weight: 600;
 word-wrap: break-word
